In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("municipality_bus_utilization.csv")
df.head(10)

             timestamp  municipality_id  usage  total_capacity
0  2017-06-04 07:59:42                9    454            1332
1  2017-06-04 07:59:42                8    556            2947
2  2017-06-04 07:59:42                4   1090            3893
3  2017-06-04 07:59:42                0    204            2813
4  2017-06-04 07:59:42                7    718            2019
5  2017-06-04 07:59:42                5     70             587
6  2017-06-04 07:59:42                2    273             697
7  2017-06-04 07:59:42                1    129             397
8  2017-06-04 07:59:42                6    597            3113
9  2017-06-04 07:59:42                3    623            1930

In [7]:
df.isnull().sum()

timestamp          0
municipality_id    0
usage              0
total_capacity     0
dtype: int64

In [12]:
df.groupby("municipality_id").agg({"usage" : "sum"})

                   usage
municipality_id
0                 719586
1                 389579
2                 636502
3                1409291
4                3014607
5                 224124
6                1340748
7                1502120
8                1335421
9                 877381

In [33]:
df.groupby([ "timestamp","municipality_id"]).agg({"usage" : "sum"})

                                     usage
timestamp           municipality_id
2017-06-04 07:59:42 0                  204
                    1                  129
                    2                  273
                    3                  623
                    4                 1090
...                                    ...
2017-08-19 16:30:35 5                  202
                    6                 1680
                    7                 1354
                    8                 1193
                    9                  815

[13070 rows x 1 columns]

In [49]:
df.groupby(df["timestamp"].apply(lambda x:   "2017" if in x).agg({"usage" : "sum"})

SyntaxError: invalid syntax (<ipython-input-49-34cca8b185d9>, line 1)

In [34]:
x=df.drop("usage",axis=1).values
y=df["usage"].values

In [38]:
from sklearn.model_selection import train_test_split

In [39]:
x_train, x_Test, y_train, y_test = train_test_split(x,y,test_size=0.33,random_state=1)

In [41]:
from sklearn.preprocessing import MinMaxScaler

In [42]:
scaler=MinMaxScaler()
x_train= scaler.fit_transform(x_train)
x_Test = scaler.fit_transform(x_test)

ValueError: could not convert string to float: '2017-07-30 12:28:37'

In [44]:
from sklearn.linear_model import LinearRegression

In [ ]:
lr=LinearRegression()
lr.fit(x_train,y_train)
forecasting=lr.predict(x_test)